<nz-layout>
    <nz-content>
        <div nz-row nzJustify="center">
          <div nz-col nzSpan="0-24" nzOffset="0-24" class="div-icon">
            <img src="/assets/icon/logo.png" alt="gamers unipanamericana">
          </div>
        </div>
        <div nz-row  nzJustify="center">
            <div nz-col nzSpan="20" class="btn-special" >
                <button (click)="loginWithMicrosoft()">
                    <img src="/assets/icon/microsoft.svg" alt="microsoft icon">
                    Ingresar con Microsoft
                </button>
            </div>
        </div>
        <div nz-row  nzJustify="center">
            <div nz-col nzSpan="20" class="btn-special" >
                <button (click)="loginWithGoogle()">
                    <img src="/assets/icon/google.svg" alt="google icon">
                    Ingresar con Google
                </button>                
            </div>
        </div>
    </nz-content>
</nz-layout>